html, body {
  margin: 0;
  padding: 0;
  padding-bottom: 10px;
  overflow-x: hidden;
}

h1 {
  color: #555;
  font-size: 28pt;
  font-weight: 300;
}

.dorm-table {
  height: 550px !important;
  overflow-y: scroll;
}

.highlight-row {
  background-color: #e7b12d !important;
  color: white !important;
}

td {
  cursor: pointer;
}

h3 {
  color: #555;
}

.icon {
  margin-top: 20px;
  margin-left: 15px;
  margin-right: 10px;
  height: 80px;
  display: inline-block;
}

.header {
  background-color: #333;
  height: 120px;
  box-shadow: 0px 2px 5px #444;
  margin-bottom: 15px;
}

.logo {
  margin-top: 10px;
  height: 100px;
  width: 100%;
}

.splash {
  overflow: hidden;
  z-index: 1;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  position: fixed;
  background-color: #d76631;
  pointer-events: none;
}

.checkbutton {
  margin: 10px;
}

.btn-checked {
  background-color: #e7b12d;
  color: white;
}
.btn-checked:hover {
  background-color: #ca9617;
  color: white;
}

#map {
  width: 100%;
  height: 600px;
}

.first {
  color: rgba(231, 177, 45, 1.0);
}

.second {
  color: rgba(20,20,20, 1.0);
}

.y_axis path,
.y_axis line,
.x_axis path,
.x_axis line {
  fill: none;
  stroke: #555;
}

.xlabel {
  color: #555;
  font-size: 14pt;
}
