html, body {
  margin: 0;
  padding: 0;
}

h1 {
  margin-bottom: 50px;
}

.logo {
  margin-top: 50px;
  margin-bottom: 50px;
  width: 85%;
}

.symbol {
  width: 40%;
}

.splash {
  overflow: hidden;
  z-index: 1;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  position: fixed;
  background-color: #d76631;
  pointer-events: none;
}

#map {
  width: 800px;
  height: 600px;
}
